/* Navbar */

/* Compound selector */
nav.navbar.bg-success {
  background: linear-gradient(90deg, #111 0%, hsl(150, 70%, 31%) 100%) !important;
}

.navbar-brand > img {
  height: 30px;
  width: auto;
}

.navbar .navbar-collapse .navbar-nav .active {
  background-color: white;
  color: hsl(150, 70%, 31%);
}

.navbar .btn-outline-success {
  color: white;
  border-color: white;
}

.navbar .btn-outline-success:hover {
  background-color: white;
  color: hsl(150, 70%, 31%);
}

/* Hero */

.hero {
  background-image: url("/images/home/garden.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30vh;
  width: 100vw;

}

.hero > .container-fluid {
  /* Use flexbox to center align vertically */
  align-items: center;
  height: 100%;
}

.hero > .container-fluid > h1 {
  text-shadow: 0 0 5px black, 0 0 10px black;
}

.home {
  height: 80vh;
}

/* Smaller height for xs and sm viewport */
@media (max-width: 767px) {
  .home {
    height: 30vh;
  }
}

.services {
  background-image: url("/images/services/services.webp");
}

/* Cards */
.cards-hanging .card-text {
  text-indent: -.4em;
}

/* Footer */

footer {
  border-top: 1px solid #70bc4e;
}

footer svg {
  width: 50px;
  height: auto;
}

/* Acts as flex container for 4 social media icons, who become flex items*/
.social-media-icons {
  display: flex;
  column-gap: .5rem;
}
